<div class="row-fluid">
    {{#with newItem}}
    <div class="row-fluid">
      {{view Ember.TextField valueBinding="title" placeholder="Title" class="span10"}}
    </div>

    <div class="row-fluid">
      {{view Ember.TextArea valueBinding="description" placeholder="Description" class="span10"}}
    </div>

    <div class="row-fluid">
      {{view Ember.TextArea valueBinding="paypal_email"  placeholder="Paypal Email" class="span10"}}
    </div>

    <div class="row-fluid">
      <button type="submit">
        {{#if id}}Update{{else}}Create{{/if}}
      </button>
    </div>
    {{/with}}
</div>
