{{#with newItem }}
<div class='item-text'>
  <div class='title'>
    {{view Ember.TextField valueBinding="title" placeholder="Enter a title"}}
  </div>
  <div class='description'>
    {{view Ember.TextArea valueBinding="description" placeholder="Enter a description" rows="10"}}
  </div>
  <div class='paypal_email'>
    {{view Ember.TextField valueBinding="paypal_email" placeholder="Enter your paypal email address"}}
  </div>
</div>
{{/with}}
