{{#with newItem}}
<div class="span6 item-details">
  <h3 class="title">
    {{#if title}}
      {{title}}
    {{else}}
      Your Title Goes Here
    {{/if}}
  </h3>
  <p class="description">
    {{#if description}}
      {{description}}
    {{else}}
      A brief description about the item you are going to sell.
    {{/if}}
  </p>
  <div class="paypal-buy-button">
    <img src="http://leatherwrapbracelet.com/wp-content/uploads/2010/12/paypal_buynow.gif" alt="" class="pull-right">  
  </div>
</div>
{{/with}}