<br>
<br>
<div class="row-fluid">
  <div class="span6 form">
    <h2 class="">Enter something about your item</h2>
    {{view Bidbin.FormItemView}}  
  </div>
  <div class="span6 live-prview">
    <h2 class="">Live Preview</h2>
    {{view Bidbin.LivePreviewView itemBinding="item"}}  
    </div>
  </div>
</div>

