.left.span12
  .new-item-wrapper
    %script(type="text/x-handlebars")
      {{ view Bidbin.NewItemView }}



  / .span12(style="text-align:center")
  /   %h1 A better way to sell your stuff on forums

  
