.left.span8
  .new-item-wrapper
    .new-item


.right.span4
  / .span12(style="text-align:center")
  /   %h1 A better way to sell your stuff on forums

  
/ %script(type="text/x-handlebars")
/   {{ view Bidbin.NewItemView }}