.left.span12
  .new-item-wrapper
    .new-item
      .row-fluid
        .item-pictures
          .primary-img
            %img(src="http://placehold.it/2000x300")
            %img.overlay(src="/assets/plus-large.png")
            %input(name="primary-image" type="file" class="primary-image-uploader")
          %ul.unstyled.secondary-imgs.clearfix
            %li 
              %img(src="http://placehold.it/200x200")
              %img.overlay(src="/assets/plus-small.png")
              %input(name="secondary-image" type="file" class="secondary-image-uploader")
            %li 
              %img(src="http://placehold.it/200x200")
              %img.overlay(src="/assets/plus-small.png")
              %input(name="secondary-image" type="file" class="secondary-image-uploader")
            %li 
              %img(src="http://placehold.it/200x200")
              %img.overlay(src="/assets/plus-small.png")
              %input(name="secondary-image" type="file" class="secondary-image-uploader")
        .item-text
          .title
            %input(type="textfield" placeholder="Enter a title")
          .description
            %textarea(placeholder="Enter a description" rows='10')
          .paypal_email
            %input(type="textfield" placeholder="Enter your paypal email address")
      .row-fluid
        .actions
          %a.btn.generate-link.btn-success Generate a link for this item
      
      
        


  / .span12(style="text-align:center")
  /   %h1 A better way to sell your stuff on forums

  
/ %script(type="text/x-handlebars")
/   {{ view Bidbin.NewItemView }}

