/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
  height: 100%;
}
body{
  height: 100%;
}
body .container-fluid{
  padding-right: 0;
}
 .preview-container{
 }

 .primary-img{
  position: relative;
  max-height: 350px;
 }

 .primary-img img.overlay{
  position: absolute;
  top: 24%;
  left: 37%;
 }

 .secondary-imgs img.overlay{
  position: absolute;
  top: 35%;
  left: 36%;
 }

.paypal-buy-button{
  margin-top: 60px;
}

.left{
  max-height : 100%;
}
.right{
  background-color : white;
}

.new-item-wrapper{
  padding-bottom: 100px;
  margin-top: 36px;
  height: 100%;
}

.new-item{
  max-width : 1200px;
  min-width : 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  height: 1000px;
  background-color: white;
}

.item-text, .item-pictures{
  margin: 15px 15px;
  width : 47%;
  float: left;
}

.title, .description, .actions, .paypal_email, .primary-img, .secondary-imgs{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.primary-img{
  overflow: hidden;
}

input[type="file"].primary-image-uploader{
  width: 150%;
  height: 300px;
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 10;
  cursor: pointer;
}

input[type="file"].secondary-image-uploader{
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 10;
  cursor: pointer;
}


ul.secondary-imgs li{
  margin: 10px 10px 0 0;
  display: block;
  overflow: hidden;
  float: left;
  position: relative;
  width: 100px;
  height: 80px;
}


.title input, .description textarea, .paypal_email input{
  display: block;
  width: 98%;
  border: 1px solid #EEE;
  resize: none;
  padding: 1%;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.title input, .paypal_email input{
  font-weight: lighter;
  font-size: 29px;
  font-style: normal;
  line-height: 32px;
  color: black;
  height: 35px;
  /*padding: 0px 20px 5px 20px;*/
  margin: 0px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

.description textarea{
  margin-top : 10px;
  display: block;
  font-size: 19px;
  line-height: 1.4;
  font-family: Times, Georgia, serif;
  font-style: italic;
  color: #555;
  vertical-align: text-top;
}

.paypal_email input{
  margin-top: 10px;
  font-size: 19px;
}

a.generate-link{
  display: block;
  width: 40%;
  margin: 30px auto;
  font-size: 24px;
  padding: 24px 12px;
}
